target
*.war
.classpath
.idea
.idea/*
.project
*.iml
*.ipr
*.iws
stacktrace.log
CodeNarcReport.html
cobertura.ser
out/
*/tld/*
*.log
web-app/repositories/
web-app/logs/*

modules/meta-utils/plugin.xml
target/*.log
target/classes/*

*.iml
*.ipr
*.iws
